<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktna.cloud.mapper.SysNavItemMapper">

    <resultMap id="BaseResultMap" type="com.ktna.cloud.domain.SysNavItem">
            <id property="id" column="id" />
            <result property="categoryId" column="category_id" />
            <result property="name" column="name" />
            <result property="href" column="href" />
            <result property="description" column="description" />
            <result property="sort" column="sort" />
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,name,href,description,sort,
        logo
    </sql>
</mapper>
